# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.py[cod]
*.pyo

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Flask
instance/

# SQLite databases
*.db
*.sqlite3