@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, lavenderblush, lightblue);
    color: #333;
}

.container {
    margin: 0 15px;
}

.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    display: none;
}

.form-box.active {
    display: block;
}

h2 {
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input,
select {
    width: 100%;
    padding: 12px;
    background: whitesmoke;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

.icons {
    position: relative;
    width: 100%;
}

.icons input {
    padding-right: 40px;
}

.icons i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
}

button {
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.3s;
}

button:hover {
    background: #6884d3;
}

p {
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}

p a {
    color: #7494ec;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.error-message {
    padding: 12px;
    background: rgba(190, 80, 80, 0.1);
    border-radius: 6px;
    font-size: 16px;
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.main-btn {
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #6a85f1, #7f53ac);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.main-btn:hover {
    opacity: 0.9;
    transform: scale(1.02);
}

.switch-text {
    margin-top: 15px;
    font-size: 14px;
}

.switch-text a {
    color: #4f46e5;
    text-decoration: none;
    font-weight: 500;
}

.switch-text a:hover {
    text-decoration: underline;
}