<div class="navbar">
    <a href="/dashboard" class="{% if request.path == '/dashboard' %}active{% endif %}">Dashboard</a>
    <a href="/export" class="{% if request.path == '/export' %}active{% endif %}">Export</a>
    <a href="/" class="{% if request.path == '/' %}active{% endif %}">Students</a>
    <a href="/attendance" class="{% if request.path == '/attendance' %}active{% endif %}">Attendance</a>
    <a href="/settings" class="{% if request.path == '/settings' %}active{% endif %}">Settings</a>
</div>